@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/*detect if mobile*/

body {
    font-family: 'Poppins', sans-serif;
    background: rgb(255,255,255);
    background-size: 1000% 1000%;
}
a {
    color: rgb(6, 164, 255);
}
a:visited {
    color: rgb(172, 21, 199);
}
button {
    background-color: transparent;
    border: none;
}
#darkmode {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    float: right;
}
/*center the bullet point on ul*/
ul {
    display: inline-block;
    margin: 0;
    /* For IE, the outcast */
    zoom:1;
    *display: inline;
}
li {
    padding-left: 20px;
}