@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(270deg, #3abebc, #2dcf78, #2d5ecf, #cb2dcf, #8b2dcf);
    background-size: 1000% 1000%;
    color: white;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    -o-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}
button {
    width: 50%;
    height: 50px;
    border: none;
    border-radius: 15px;
    background: #ffffff;
    color: #7922dd;
    font-size: 20px;
    transition-delay: 10ms;
    transition-duration: 200ms;
}
button:hover {
    width: 50%;
    height: 50px;
    border: none;
    border-radius: 15px;
    background: #bebebe;
    color: #7922dd;
    font-size: 20px;
    text-shadow: 0 0 10px #5e29b4;
}
button:active {
    width: 50%;
    height: 50px;
    border: none;
    border-radius: 15px;
    background: #4b4b4b;
    color: #c6ace4;
    font-size: 20px;
    text-shadow: 0 0 10px #5e29b4;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}